<main role="main" class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">User Management Site</h1>
        <p class="">Welcome to my Dummy Site!! Manage you business here....</p>
    </div>  
    <div class="container">
      <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Please Reset Your Password <small>Here!!</small></h4>
              <hr>
             </div>
             <div class="panel-body">
              <form role="form" (submit)="onResetSubmit()">
      
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password" id="password" class="form-control input-sm" placeholder="New Password" [(ngModel)]="password">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="cnfPassword" id="cnfPassword" class="form-control input-sm" placeholder="Confirm Password" [(ngModel)]="cnfPassword">
                    </div>
                  </div>
                </div>
                
                <input type="submit" value="Reset Password" [disabled]="!password || !cnfPassword || (password != cnfPassword)" class="btn btn-info btn-block">
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    
    